:root {
    --dark_blue: #05386B;
    --dark_green: #379683;
    --green: #5CDB95;
    --light_green: #8EE4AF;
    --off_white: #EDF5E1;
    --border_dark: #057461;
    --border_light: var(--off_white);
    --universal-padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0;
}

#logo {
    background-color: var(--dark_green);
    color: var(--off_white);
    height: 10vh;
    border-bottom: 2px solid var(--border_dark);
    align-items: center;
    font-size: clamp(1rem, min(2vh, 2vw), 3rem);
}

#nav {
    background-color: var(--green);
    color: var(--dark_blue);
    align-items: center;
    border-bottom: 2px solid  var(--border_dark);
    border-left: 1px solid var(--border_light);
}

#nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav li {
    text-align: center;
}

#sidebar {
    background-color: var(--dark_green);
    border-top: 1px solid var(--border_light);
}

#content {
    height: 90vh;
    background-color: var(--green);
    color: var(--dark_blue);
    overflow-y: scroll;
    border-left: 1px solid var(--border_light);
    border-top: 1px solid var(--border_light);
}

#content img {
    float: right;
    width: 20%;
    padding-left: 2%;
}

.svg {
    width: clamp(1rem, min(2vh, 2vw), 3rem);
    height: clamp(1rem, min(2vh, 2vw), 3rem);
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

#headline {
    color: var(--off_white);
}

/* phone screens */
@media screen and (max-width: 768px) {
    #logo {
        background-color: var(--green);
    }

    /* hide navigation menu by default */
    #nav {
        position: absolute;
        opacity: 0;
        transition: opacity 0.2s linear;
        -webkit-transition: opacity 0.2s linear;
        -moz-transition: opacity 0.2s linear;
        -o-transition: opacity 0.2s linear;
        top: 10vh;
        width:100vw;
        background-color: var(--light_green);
    }

    #content {
        border-left: none;
    }

    #content img {
        float: none;
        width: 70%;
        padding: 0 15%;
    }
}